assignments/wsdl/src_code/Quiz1WSFinal/src/main/webapp/wsdl/student.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="StudentService" targetNamespace="http://tcss559.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tcss559.net/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://tcss559.net/" schemaLocation="student_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="updateCredits">
    <wsdl:part name="parameters" element="tns:updateCredits">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateStatus">
    <wsdl:part name="parameters" element="tns:updateStatus">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateStatusResponse">
    <wsdl:part name="parameters" element="tns:updateStatusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setGradResponse">
    <wsdl:part name="parameters" element="tns:setGradResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateGPA">
    <wsdl:part name="parameters" element="tns:updateGPA">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateCreditsResponse">
    <wsdl:part name="parameters" element="tns:updateCreditsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="toStringResponse">
    <wsdl:part name="parameters" element="tns:toStringResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateGPAResponse">
    <wsdl:part name="parameters" element="tns:updateGPAResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setGrad">
    <wsdl:part name="parameters" element="tns:setGrad">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="toString">
    <wsdl:part name="parameters" element="tns:toString">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Student">
    <wsdl:operation name="updateCredits">
      <wsdl:input name="updateCredits" message="tns:updateCredits">
    </wsdl:input>
      <wsdl:output name="updateCreditsResponse" message="tns:updateCreditsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateGPA">
      <wsdl:input name="updateGPA" message="tns:updateGPA">
    </wsdl:input>
      <wsdl:output name="updateGPAResponse" message="tns:updateGPAResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateStatus">
      <wsdl:input name="updateStatus" message="tns:updateStatus">
    </wsdl:input>
      <wsdl:output name="updateStatusResponse" message="tns:updateStatusResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setGrad">
      <wsdl:input name="setGrad" message="tns:setGrad">
    </wsdl:input>
      <wsdl:output name="setGradResponse" message="tns:setGradResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="toString">
      <wsdl:input name="toString" message="tns:toString">
    </wsdl:input>
      <wsdl:output name="toStringResponse" message="tns:toStringResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StudentServiceSoapBinding" type="tns:Student">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="updateCredits">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateCredits">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateCreditsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateGPA">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateGPA">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateGPAResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateStatus">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateStatus">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setGrad">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setGrad">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setGradResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="toString">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="toString">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="toStringResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentService">
    <wsdl:port name="StudentPort" binding="tns:StudentServiceSoapBinding">
      <soap:address location="http://localhost:8080/Quiz1WSFinal/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
